.wrapper {

    .h2 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2;
    }

    .content {
        margin-bottom: 16px;
    }
}

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

// Tablet
@media (min-width: 740px ) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }
}

// Mobile
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}