.wrapper {
    padding: 24px 0;
}

.content {

    &:hover .status-link {
        display: block;
    }

    &.add-content {
        padding: 24px;
        background-color: #f7f5f0;
        border-radius: 4px;
    }
}

.new-book, .completed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.new-book > .h2, .new-book > .status-link {
    margin-bottom: 16px;
}

.completed {
    margin-top: 24px;
}

.h2 {
    font-size: 2rem;
    font-weight: 600;
}


.slider-thumb {
    font-size: inherit;

    .list-container-slider {
        padding-bottom: 10px;
    }
}


.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
    z-index: 1;
    transition: all .2s ease-in-out;
}


.img-link {
    display: block;
    position: relative;
    width: 140px;
    height: 100%;
    overflow: hidden;
    background-color: #eee;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 25%);


    &::before {
        padding-top: 133.333333%;
        content: "";
        display: block;
    }
    & > img {
        height:auto;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        min-height: 100%;
    }

}

.btn-pre, .btn-next {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -20px;
    color: #999;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    border-radius: 50%;
    color: #999;
    transition: all .2s ease-in-out;

    &:hover {
        opacity: .7
    }
}

.btn-pre {
    cursor: pointer;
    left: 10px;
}

.btn-next {
    cursor: pointer;
    right: 10px;
}

.book-info {
    margin-top: 24px;
}

.book-content-wrapper {
    padding-bottom: 8px;

    .book-content-info { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    
    .h2-info { 
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 8px;
        text-align: center;
    }

    .book-description { 
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        color: #666;
        font-size: 1.5rem;
        pointer-events: auto;
        text-align: center;
    }

    .book-author { 
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
        margin-bottom: 24px;
        padding: 4px 0;

        .author {
            display: inline-flex;
            align-items: center;
            font-size: 1.5rem;
            color: #666;
            
            & > span {
                font-size: inherit;
                color: inherit;
                max-width: 140px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
        }

        .category { 
            display: block;
            font-size: 1.5rem;
            & > span {
                display: block;
                font-size: 80%;
                font-weight: 400;
                padding: 0 8px;
                max-width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                border: 1px solid var(--text-primary);
                color: var(--text-primary);
            }
        }
    }

    & > button {
        margin: 0 auto;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #fff;
        display: block;
        padding: 8px 46px;
        border-radius: 20px;
        border: 1px solid #bf2c24;
        background-color: #bf2c24;
    }

}
