.Form {
    --form-text: #333;
    --form-primary: var(--text-primary);
    --form-text-hover: #785b1a;
    --form-title: #999;
    --title-hover:#737373;
    --input-bgr: #f7f7f7;
    --text-white: #fff;

    font-size: 1.5rem;
    color: var(--form-text);
    font-family: inherit;

    &.Regis {

        .re-item {
            display: block;
        }

        .check-item {
            display: none;
        }

        .footer {
            display: none;
        }
    }
}

.header {
    display: flex;
    justify-content: center;
    padding: 16px;
    color: #999;
    
    & > .in-form {
        color: #333;
        cursor: text;
        transition: all 0;
    }

    & > :not(.in-form):hover {
        color: var(--title-hover);
    }
}

.signIn, .regis {
    color: inherit;
    font-size: 2.4rem;
    padding: 16px;
    font-weight: 600;

    & > .in-form {
        color: #333;
        cursor: text;
    }
}

.close {
    position: absolute;
    padding: 16px;
    right: 0;
    top: 0;
    color: #666;
    cursor: pointer;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 0.5;
    opacity: 0.5;

    &:hover {
    opacity: .75;
    }
}

.body {
    padding: 0 80px 24px;
}

.item {
    margin-bottom: 16px;

    &.re-item {
        display: none;
    }
}

.email,
.password,
.re-password {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    
    .what {
        color: var(--text-primary);
    }

    .what:hover {
        color: var(--form-text-hover);
    }

}



.input {
    width: 100%;
    padding: 10px 24px;
    color: #495057;
    font-size: inherit;
    background-color: var(--input-bgr);
    border-radius: 20px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
    &:focus {
      box-shadow: 0 0 0 0.35rem rgb(183 138 40 / 25%);
      border-color: var(--text-primary);
    }
}

.check-item {
    font-size: 1.5rem;
    color: var(--form-text);

    .check-container {
      display: inline-block;
      position: relative;
      user-select: none;
    }
  
    .check-title {
      padding-left: 30px;
    }
  
    .checkbox {
      position: absolute;
      opacity: 0;
      cursor: default;
    }
  
    .checkmark {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: 1px solid #adb5bd;
      background-color: var(--input-bgr);
      border-radius: 4px;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
    }
  
    .check-icon {
      display: block;
      position: absolute;
      transform: translateX(40%) translateY(40%);
      width: 10px;
      height: 10px;
      color: var(--input-bgr);
    }
  
    .check-container input:checked ~ .checkmark {
      background-color: var(--text-primary);
      box-shadow: 0 0 0 0.35rem rgb(183 138 40 / 25%);
      border-color: var(--text-primary);
    }
  
}

.button {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    padding: 9px 18px;
    border-radius: 20px;
    background-color: var(--text-primary);
    
    .button-title {
        display: block;
        color: var(--text-white);
        font-size: 1.8rem;
        line-height:1.5;
        font-weight: 600;
    }

    &:hover {
        background-color: #987221;
        border-color: #8d6a1f;
    }
}


.footer {
    padding: 16px;
    background-color: var(--input-bgr);
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .about-what {
        color: var(--form-text);
    }
    
    .signUp-now {
        color: var(--text-primary);
        font-weight: 600;
    }

    .signUp-now:hover {
        color: #987221;
      }
}

