.wrapper {

    .group {
        margin-bottom: 16px;

        .title {
            display: inline-block;
            margin-bottom: 8px;
        }

        .form-control {
            display: block;
            padding: 6px 24px;
            background-color: var(--input-bgr);
            font-size: 1.6rem;
            line-height: 1.5;
            height: 40px;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out,-moz-box-shadow .15s ease-in-out;

            &:focus {
                box-shadow: 0 0 0 0.35rem rgb(183 138 40 / 25%);
                border-color: var(--text-primary);
            }
        }

        .btn {
            display: block;
            width: 100%;
            color: var(--text-white);
            padding: 9px 18px;
            border-radius: 20px;
            background-color: var(--text-primary);
            font-size: 1.8rem;
            line-height:1.5;
            font-weight: 600;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out,-moz-box-shadow .15s ease-in-out;

            &:hover {
                background-color: #987221;
                border-color: #8d6a1f;
            }

            &:focus {
                box-shadow: 0 0 0 0.35rem rgb(183 138 40 / 25%);
                border-color: var(--text-primary);
            }
        }
    }
}