.wrapper {

    .info {
        .icons {
            display: flex;
            align-items: center;
            margin-right: 24px;
        
            .icon {
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                width: 11px;
                height: 18px;
                margin-right: 8px;
            }
        }

        .book-info {
            background-color: #fff;
        }

        .book-info {
            display: flex;
            flex-direction: column;
            padding: 12px 12px;
            padding-bottom: 16px;
            margin-bottom: 12px;

            hr {
                margin: 16px 0;
            }

            .rank,.feel {
                font-weight: 600;
                color: #333;
            }
            
            .description {
                white-space: pre-line;
                word-break: break-word;
                font-size: 1.6rem;
                padding-top: 8px;
                margin-bottom: 16px;
            }

            .rank {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .feel {

                .feel-title {
                    display: block;
                    margin-bottom: 8px;
                }

                .list-feel {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    .icons {
                        display: flex;
                        flex-direction: column;
                        flex: 1 1 auto;
                        margin-right: 0;
                        margin-top: 8px;

                        .icon {
                            width: 28px;
                            height: 28px;
                            margin-right: 0;
                        }

                        .number {
                            margin-top: 6px;
                        }
                    }
                }
            }
        }

        .fan {

            .media-level {
                padding-left: 36px;
                display: flex;
                align-items: center;

                .media-body {
                    display: flex;
                    align-items: center;
                    flex: 1;

                    span {
                        margin-left: 8px;
                    }

                    .media-info {
                        flex: 1;

                        img {
                            display: block;
                            width: auto;
                            height: 20px;
                        }
                    }

                    .user-name {
                        font-size: 1.4rem;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: 400;
                        margin-bottom: 4px;
                    }
                }

                .media-avatar {
                    display: inline-block;
                    overflow: hidden;
                    position: relative;
                    width: 45px;
                    border-radius: 50%;
                    margin-right: 16px;

                    &::before {
                        content: "";
                        display: block;
                        padding-top: 100%;
                    }
    
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        max-width: 100%;
                        min-height: 100%;
                    }
    
                    &:hover {
                        opacity: .9;
                    }
                }

            }

            .no-fan {
                display: block;
                margin-bottom: 12px;
            }

            .list-fan {
                .fan-item {
                    position: relative;
                    padding-left: 36px;

                    .fan-rank {
                        font-weight: 600;
                        width: 24px;
                        height: 32px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        line-height: 3.2rem;
                        text-align: center;
                    }

                    .fan-body {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 8px 0;
                        flex: 1;
                        border-bottom: 1px solid #eee;
                        
                        .fan-info {
                            display: flex;
                            flex: 1;
                            
                            .info-content {
                                display: flex;
                                word-break: break-word;
                                flex: 1;
                            }
                            
                            .info-body {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex: 1;
                            }
                        }
                        
                        .fan-info .fan-name {
                            font-size: 1.4rem;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            font-weight: 400;
                        }

                        .fan-info .info-level {
                            height: 20px;
                            img {
                                display: inline-block;
                                height: 100%;
                                width: auto;
                            }
                        }

                        .fan-info .fan-point {
                            margin-left: 8px;
                            color: #999;
                            white-space: nowrap;
                        }
                        
                        .top-rank, .top-menu {
                            .fan-name {
                                margin-bottom: 4px;
                            }
                        }

                        .top-rank {
                            flex-direction: column;
                            align-items: flex-start;

                            .info-body {
                                flex-direction: column;
                                align-items: flex-start;
                            }

                            .fan-point {
                                margin-left: 0;
                                white-space: inherit;
                            }
                        }

                        .top-menu {
                            flex-direction: row;
                            align-items: center;

                            .fan-point {
                                color: #333;
                            }

                            .info-body {
                                flex-direction: row;
                                align-items: center;
                            }

                            .fan-point {
                                margin-left: 8px;
                                white-space: inherit;
                            }
                        }


                        .fan-avatar {
                            display: inline-block;
                            overflow: hidden;
                            position: relative;
                            width: 45px;
                            margin-left: 16px;
                            border-radius: 50%;

                            &::before {
                                content: "";
                                display: block;
                                padding-top: 100%;
                            }

                            img {
                                display: block;
                                width: 100%;
                                height: auto;
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                                max-width: 100%;
                                min-height: 100%;
                            }

                            &:hover {
                                opacity: .9;
                            }
                        }
                    }
                    
                }

                .fan-item:last-child {
                    .fan-body {
                        border-color: transparent;
                    }
                }

                .index {
                    .fan-rank {
                        height: 24px;
                        width: 24px;
                        display: block;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 2.4rem;
                        color: #fff;
                    }
                }

                .index:nth-child(1) .fan-rank {
                    background-color: #ffc000;
                }

                .index:nth-child(2) .fan-rank {
                    background-color: #f59644;
                }

                .index:nth-child(3) .fan-rank {
                    background-color: #f56844;
                }
            }
        }

    }

    .rate, .comment {
        background-color: #fff;

        .content-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 12px 0 12px;
    
            h2 {
                font-size: 2rem;
                font-weight: 600;
            }
    
            .by {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            .select {
                width: auto;
                font-size: 1.6rem;
                display: inline-block;
                padding: 6px 28px 6px 12px;
                color: #495057;
                vertical-align: middle;
                background-color: #fff;
                border: 1px solid #e6e6e6;
                appearance: none;
                border-radius: 4px;
                line-height: 24px;
                background: no-repeat right 12px center/8px 10px;
                transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out,-moz-box-shadow .15s ease-in-out;
                
                .selected {
                }
    
                &:focus {
                    outline: 0;
                    border: 1px solid var(--text-primary);
                    -webkit-box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
                    -moz-box-shadow: 0 0 0 3.2px rgba(183,138,40,.25);
                    box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
                }
            }
            
    
            }
        }

        .container {
            padding: 12px;
        }
    }

    .rate {


        .container {
            .note-content {
                font-size: 1.4rem;
                color: var(--text-primary);
                margin-bottom: 16px;
        
                .c4 {
                    font-size: inherit;
                    color: inherit;
                    background-color: #f7f5f0;
                    border-radius: 16px;
                    padding: 16px;
        
                    .h5 {
                    font-size: 1.6rem;
                    font-weight: 600;
                    margin-bottom: 24px; 
                    line-height: 1.2;
                    }
                }
        
                .c4.rated {
        
                    .info {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 8px 0;
        
                        .h5 {
                            margin-bottom: 0;
                        }
        
                        .total-rate {
                            font-size: 1.6rem;
                            font-weight: 600;
                            line-height: 1.2;
                            margin-left: 16px;
                        }
            
                        .list-rating {
                            display: flex;
                            align-items: center;
                            font-size: 1.5rem;
            
                            .rating {
                                font-size: 0;
                                line-height: 0;
                                position: relative;
                                display: inline-block;
                                color: #ffebaf;
            
                                .active {
                                    position: absolute;
                                    max-width: 100%;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    color: #ffc000;
                                    left: 0;
                                    top: 0;
                                    bottom: 0;
                                }
        
                                i {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
        
                    .info.nav {
        
                        .h5 {
                            font-size: 1.4rem;
                            line-height: 1.2;
                            font-weight: 400;
                        }
        
                        .total-rate {
                            font-size: 1.6rem;
                            line-height: 1.2;
                            margin-left: 16px;
                            font-weight: 600;
                        }
                    }
        
                    .hr {
                        color: inherit;
                        border-bottom: 1px dashed rgba(183,138,40,.2);
                        margin: 8px 0;
                    }
        
                }
            }

            .rate-content {
                border: 2px solid #f7f5f0;
                background-color: #f7f5f0;
                border-radius: 8px;
                margin-bottom: 16px;
                font-size: 1.4rem;
                font-weight: 600;
                color: var(--text-primary);
                
                .reviewer {
                    padding: 16px;
    
                    .content-item {
                        padding: 8px 0;
            
                        .input {
                                -webkit-appearance: none;
                                height: 4px;
                                width: 100%;
                                border-radius: 2px;
                                background: rgba(183,138,40,.2);
                                outline: 0;
                                overflow: visible;
                                line-height: 0;
        
                                &::-webkit-slider-thumb {
                                    -webkit-appearance: none;
                                    appearance: none;
                                    width: 25px;
                                    height: 25px;
                                    background: var(--text-primary);
                                    border-radius: 50%;
                                    cursor: pointer;
                                  }
                        }
            
                        .value {
                            display: block;
                            font-size: 1.6rem;
                            text-align: center;
                        }
                    }
    
                }
    
                .input-box {
                    border-top: 1px solid #f7f5f0;
                    position: relative;
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out,-moz-box-shadow .15s ease-in-out;
                    
                    .textarea {
                        display: block;
                        padding: 16px;
                        font-size: 1.6rem;
                        color: #495057;
                        font-family: inherit;
                        border-color:#495057;
                        min-height: 100px;
                        max-width: 100%;
                        min-width: 100%;
                        overflow: auto;
                        resize: vertical;
                        border-radius: 8px;
                        border: 0;
                        transition: inherit;
                    }
    
                    .textarea:focus {
                        color: #495057;
                        background-color: #fff;
                        border-color: #d9af52;
                        outline: 0;
                        -webkit-box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
                        -moz-box-shadow: 0 0 0 3.2px rgba(183,138,40,.25);
                        box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
                    }
    
                    .btn {
                        position: absolute;
                        color: #fff;   
                        background-color: var(--text-primary); 
                        width: 48px;
                        height: 48px;
                        font-size: 2rem;
                        text-align: center;
                        right: 16px;
                        bottom: 16px;
                        border-radius: 50%;
    
                        i {
                            display: block;
                            margin-left: 4px;
                            color: inherit;
                            font-size: inherit;
                        }
    
                        &:hover {
                            background-color: #8d6a1f;
                        }
    
                        &:focus {
                            outline: 0;
                            background-color: #8d6a1f;
                            -webkit-box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
                            -moz-box-shadow: 0 0 0 3.2px rgba(183,138,40,.25);
                            box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
                        }
                    }
                }
    
            }
            
            .list-review-cmt {
                margin-top: 16px;
                margin-bottom: 24px;
                border-top: 1px solid #eee;

                .review-cmt-item {
                    display: flex;
                    align-items: flex-start;
                    font-size: 1.5rem;
                    padding: 16px;
                    border-bottom: 1px solid #eee;
    
                    .review-avata {
                        cursor: pointer;
                        width: 45px;
                        position: relative;
                        margin-right: 16px;
    
                        &::before {
                            padding-top: 100%;
                            display: block;
                            content: "";
                        }
    
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            max-height: 100%;
                            max-width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;
                            object-fit: fill;
                        }
                        
                        .review-level {
                            position: absolute;
                            padding: 0 4px;
                            left: 50%;
                            bottom: -2px;
                            transform: translateX(-50%);
                            white-space: nowrap;
                            border-radius: 16px;
                            color: #fff;
                            background-color: #b78a28;
                            font-size: 80%;
                            font-weight: 400;
                        }
                    }
    
                    .review-body {
                        flex: 1;
    
                        .review-name {
                            display: inline-block;
                            font-size: 1.8rem;
                            font-weight: 600;
                            margin-bottom: 4px;
    
                            &:hover {
                                color: var(--text-primary);
                            }
                        }
    
                        .review-rate {
                            line-height: 1.5;
    
                            .info {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                
                
                                .h5 {
                                    margin-bottom: 0;
                                }
                
                                .total-rate {
                                    font-size: 1.6rem;
                                    line-height: 1.2;
                                    margin-left: 8px;
                                    margin-right: 24px;
                                }
                    
                                .list-rating {
                                    display: flex;
                                    align-items: center;
                                    font-size: 1.5rem;
                    
                                    .rating {
                                        font-size: 0;
                                        line-height: 0;
                                        position: relative;
                                        display: inline-block;
                                        color: #ffebaf;
                    
                                        .active {
                                            position: absolute;
                                            max-width: 100%;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            color: #ffc000;
                                            left: 0;
                                            top: 0;
                                            bottom: 0;
                                        }
                
                                        i {
                                            font-size: 1.3rem;
                                        }
                                    }
    
                                    .read, .time {
                                        display: flex;
                                        align-items: center;
                                        color: #999;
                                        font-size: 1.4rem;
                                        margin-right: 24px;
    
                                        i {
                                            display: block;
                                            font-size: inherit;
                                        }
                                    }
    
                                }
                            }
                        }
    
                        .review-cmt {
                            margin-top: 8px;
                            font-size: 1.5rem;
                            color: #333;
                            white-space: pre-line;
                            word-break: break-word;
    
                            .review-btn {
                                color: #6c757d;
                                font-weight: 600;
                                font-size: 1.4rem;
                            }
    
                            .review-btn.spoli {
                                display: block;
                                width: 100%;
                                line-height: 1.5;
                                font-size: 1.4rem;
                                font-weight: 400;
                                margin-top: 16px;
                                text-align: center;
                                padding: 10px 0;
                                background: #eee;
                                border-radius: 3px;
                                color: #6666668c;
                            }
                        }
    
                    }
        
                }

                .wrapper {
                    display: flex;
                    flex-direction: column;
                    margin-top: 16px;
                    font-size: 1.5rem;
                    color: #333;
                    line-height: 1.5;
                
                    .active {
                        color: #111!important;
                        font-weight: 700;
                    }
                
                    .action {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                
                        .all-reply {
                            cursor: pointer;
                            font-size: 1.4rem;
                            color: var(--text-primary);
                            font-weight: 600;
                        }
                
                        .action-btn {
                            
                            .btn {
                                display: inline-flex;
                                align-items: center;
                                padding: 4px 16px;
                                font-size: 1.4rem;
                                border-radius: 16px;
                                color: #999;
                                line-height: 1.6;
                                margin-right: 8px;
                                border: 1px solid transparent;
                                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out,-moz-box-shadow .15s ease-in-out;
                                
                                i {
                                    line-height: inherit;
                                    margin-right: 8px;
                                    font-size: 1.5rem;
                                }
                
                                &:focus {
                                    outline: 0;
                                    -webkit-box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
                                    -moz-box-shadow: 0 0 0 3.2px rgba(183,138,40,.25);
                                    box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
                                }
                            }
                
                            // .btn.active {
                            //     color: #111;
                            //     font-weight: 700;
                            // }
                        }
                        
                
                    }
                
                    .list {
                
                        .media {
                            margin-top: 8px;
                
                            .media-item {
                                display: flex;
                                align-items: flex-start;
                                padding: 16px 0;
                                border-top: 1px solid #eee;
                
                                .avatar {
                                    cursor: pointer;
                                    width: 45px;
                                    position: relative;
                                    margin-right: 16px;
                
                                    &::before {
                                        padding-top: 100%;
                                        display: block;
                                        content: "";
                                    }
                
                                    img {
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        max-height: 100%;
                                        max-width: 100%;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        margin: auto;
                                        -webkit-border-radius: 50%;
                                        -moz-border-radius: 50%;
                                        border-radius: 50%;
                                        object-fit: fill;
                                    }
                                    
                                    .level {
                                        position: absolute;
                                        padding: 0 4px;
                                        left: 50%;
                                        bottom: -2px;
                                        transform: translateX(-50%);
                                        white-space: nowrap;
                                        border-radius: 16px;
                                        color: #fff;
                                        background-color: #b78a28;
                                        font-size: 80%;
                                        font-weight: 400;
                                    }
                                }
                                
                                .media-body {
                                    flex: 1;
                
                                    .media-name {
                                        display: inline-block;
                                        font-size: 1.5rem;
                                        font-weight: 600;
                                        margin-bottom: 4px;
                
                                        &:hover {
                                            color: var(--text-primary);
                                        }
                                    }
                                    
                                    .media-cmt {
                                        font-size: 1.5rem;
                                        color: #333;
                                        white-space: pre-line;
                                        word-break: break-word;
                
                                        .media-description {
                    
                                        }
                                        
                                        .media-check {
                                            .media-btn {
                                                color: #6c757d;
                                                font-weight: 600;
                                                font-size: 1.4rem;
                                            }
                                        }
                                    }
                
                                    .media-info {
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        margin-top: 4px;
                
                                        .btn {
                                            display: flex;
                                            align-items: center;
                                            color: #999; 
                                            font-size: 80%;
                                            font-weight: 400;
                                            margin-right: 24px;
                
                                            i {
                                                color: inherit;
                                                margin-right: 8px;
                                                font-size: 1.2rem;
                                            }
                                        }
                                    }
                                    
                                }
                
                                
                
                            }
                        }
                
                        .hide-rep {
                            font-size: 1.4rem;
                            color: #333;
                            font-weight: 600;
                            margin-left: 8px;
                
                            &:hover {
                                color: var(--text-primary);
                            }
                        }
                
                        .from {
                            display: flex;
                            align-items: flex-start;
                            padding: 8px;
                            margin-top: 8px;
                
                            .from-avata {
                                width: 30px;
                                position: relative;
                                margin-top: 4px;
                                margin-right: 8px;
                
                                &::before {
                                    padding-top: 100%;
                                    display: block;
                                    content: "";
                                }
                
                                img {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    max-height: 100%;
                                    max-width: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: auto;
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    border-radius: 50%;
                                    object-fit: fill;
                                }
                            }
                
                            .from-body {
                                flex: 1;
                                display: flex;
                                word-break: break-word;
                                position: relative;
                
                                .from-control {
                                    font-size: inherit;
                                    font-family: inherit;
                                    color: #495057;
                                    height: 60px;
                                    width: 100%;
                                    min-height: 40px;
                                    max-width: 100%;
                                    min-width: 100%;
                                    overflow: hidden;
                                    padding: 6px 48px 6px 32px;
                                    background-color: #f7f7f7;
                                    border-radius: 20px;
                                    outline: none;
                                    border: 1px solid #e6e6e6;
                                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out,-moz-box-shadow .15s ease-in-out;
                                
                                    &:focus {
                                        outline: 0;
                                        border: 1px solid var(--text-primary);
                                        -webkit-box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
                                        -moz-box-shadow: 0 0 0 3.2px rgba(183,138,40,.25);
                                        box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
                                    }
                
                                }
                
                                .btn {
                                    display: flex;
                                    align-items: center;
                                    position: absolute;
                                    top: 0;
                                    right: 8px;
                                    bottom: 0;
                                    margin: auto;
                                    font-size: 1.25rem;
                                    padding: 8px;
                
                                    i {
                                        font-size: 2rem;
                                        color: #b78a28;
                                    }
                                }
                
                            }
                
                        }
                    }
                }
                
    
            }
        }

    }

    .comment {
        .add-media {
            padding: 16px 0;
            padding-top: 0;
        
            .add-button {
                border: 1px solid;
                border-radius: 20px;
                border-color: #666;
                padding: 4px 24px;
                display: block;
                font-weight: 600;
                line-height: 1.6;
                margin: 0 auto;
                font-size: 1.4rem;
                color: #666;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out,-moz-box-shadow .15s ease-in-out;
    
                
                &:focus {
                    box-shadow: 0 0 0 3.2px hsl(0deg 0% 40% / 50%);
                }

                &:hover {
                    background-color: #666;
                    color: #fff;
                }
            }

            .add-not-hover {
                &:hover {
                    color: #666;
                    background-color: #fff;
                }

                &:focus {
                    background-color: #666;
                    color: #fff;
                }
            }
    
        }
    }
}
