.logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 24px;
    box-sizing: inherit;

    .img {
        height: 48px;
        width: 48px;
        object-fit: cover;
    }
}

@media (max-width: 1024px) {
    .logo {
        .img {
            height: 38px;
            width: 38px;
        }
    }


}