.wrapper {
    color: #333;

    .container {

        .h2 {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 4px;
        }
    }
}

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .wrapper{
        background-color: #fff;
        margin-bottom: 12px;

        .container {
            padding: 12px;

            .h2 {
                padding: 0 12px;
                padding-top: 16px;
                margin-bottom: 0;
            }
        }
    }
}

// Tablet
@media (min-width: 740px ) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }
}

// Mobile
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}