.wrapper {
    display: block;
    position: relative;
}

// .chapter {

//     .nav {
//         color: inherit;

//         a {
//             color: inherit;
//         }
//     }
    
//     .nav-item.nav-left {
//         &:hover {
//             background-color: rgba(0,0,0,.02);
//         }
//     }

//     .nav-right {
//         color: inherit;

//         a {
//             color: inherit;
//         }

//     }

//     .nav-item {
//         color: inherit;
//     }

//     .notice {
//         i {
//             color: inherit;
//         }
//     }

//     .notice.show, .user.show {
//         color: #333;

//         &:hover {
//             opacity: 1;

//             i {
//                 opacity: .9;
//             }

//             .avatar,.user-name {
//                 opacity: .9;
//             }
//         }
//     }

//     // .login, .regis {
//     //     background-color: rgb(219, 213, 195);
//     // }

//     [id="tooltip"] {
//         &::before {
//             display: none;
//         }
//     }
// }

.header {
    // background-color: var(--header-color);
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 5%);
    z-index: 1000;
}

.header-wa {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    height: 100%;
    padding: 0 16px;
    color: inherit;
}

.nav-right {
    display: flex;
    align-items: center;
    color: #999;
    line-height: 1.5;

   

    .search-btn, .menu {
        // position: relative;
    }

    .icon {
        display: block;
        padding: 12px;
        color: inherit;
        font-size: 1.8rem;

        i {
            text-align: center;
            height: 18px;
            font-size: 90%;
            min-width: 22px;
            line-height: 1.5;
        }
    }

    .search-btn {
        position: relative;
    }

    .active {
        color: #333;
    }

    .menu {
        
    }
}

.search-container {
    padding: 8px 12px;
    margin-bottom: 4px;
}



// .nav {
//     height: 100%;
//     font-size: inherit;
//     display: flex;
//     align-items: center;
//     margin-right: auto;
// }

// .nav-item {
//     display: flex;
    
//     align-items: center;
//     cursor: pointer;

//     &.nav-left {
//         padding: 24px 16px;
//     }
    
//     & span {
//         font-weight: 600;
//     }

//     &.nav-left:hover {
//         background-color:#f0efed;
//     }
// }

// .btn {
//     background-color: #fff;
//     height: 100%;
//     border-top-right-radius:20px;
//     border-bottom-right-radius:20px;
// }

// .btn-icon {
//     display: block;
//     color: var(--text-primary);
//     padding: 8px 24px;
//     font-size: 2rem;
// }

// .nav-right {
//     font-size: 1.5rem;
//     font-weight: 400;
//     margin-left: auto;
//     color: var(--text-color);
//     display: flex;
//     align-items: center;

//     &:hover a {
//         color: var(--text-primary);
//     }
//     &:hover .login {
//         color: inherit;
//         opacity: .9;
//     }
// }


// .icon {
//     display: flex;
//     align-items: center;
//     font-size: 1.5rem;
//     margin-right: 8px;
// }


// .login, .regis {
//     padding: 8px 16px;
//     line-height: 1.5;
//     font-size: inherit;
//     color: inherit;
//     background-color: inherit;

//     &:hover {
//         color: var(--text-primary)
//     }
// }

// .login {
//     margin-left: 24px;
// }

// .notice {
//     display: block;
//     height: 100%;
//     color: inherit;
//     padding: 8px 16px;
//     margin-left: 24px;
//     line-height: 0;
//     transition: all 0s ease;

//     i {
//         font-size: 2rem;
//         color: #333;
//     }

//     &:hover {
//         opacity: .9;
//     }
// }

// .show {
//     background-color: #fff;
// }

// .user {
//     display: flex;
//     align-items: center;
//     padding: 8px 16px;
//     height: 100%;
//     color: inherit;
//     transition: all 0s ease;

//     &:hover {
//         opacity: .9;
//     }

//     .avatar {
//         display: block;
//         position: relative;
//         width: 24px;
//         margin-right: 8px;

//         &::before {
//             padding-top: 100%;
//             display: block;
//             content: "";
//         }
//     }


//     .user-avatar {
//         display: block;
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         width: 100%;
//         max-width: 100%;
//         margin: auto;
//         height: 100%;
//         max-height: 100%;
//         border-radius: 50%;
//         object-fit: cover;
//     }

//     .user-name {
//         font-size: 1.5rem;
//     }
// }


