.wrapper {
    padding: 16px 0;
    font-size: 1.4rem;
    font-weight: 400;

    & a[href]:hover {
        color: var(--text-primary)
    }

    &:hover .title-link {
        display: block;
    }

    .title {
        font-size: inherit;
        display: flex;
        margin-bottom: 16px;
        align-items: center;

        .h2 {
            font-size: 2rem;
            font-weight: 600;
        }

        .title-link {
            margin-left: 16px;
        }
    }
}

.content {
    font-size: inherit;
    color: #999;
}

.list-update {
    font-size: 1.5rem;
    border-top: 1px solid #eee;
    
    .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > * {
            padding: 12px;
        }

        &:hover {
            background-color: #fafafa
        }

        &.backgrdColorIndex {
            background-color: #fafafa
        }

        .category {
            flex: 1;
        }

        .text-over {
            width: 25%;

        }

        .link {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .link-chapter {
            font-size: 1.4rem;
        }

        .link, .link-chapter, .author {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .author {
            flex: 2;
            font-size: 1.4rem;
            max-width: 245px;
            color: #212529;
        }

        .author,.creator, .time > span {
            display: block;
            max-width: 100%;
            width: 92px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .creator {
            font-size: 1.4rem;
        }

        .time {
            font-size: 1.4rem;
            text-align: right;  
        }

        

    }
}

.mobile-item {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    justify-content: space-between;
    
    .mobile-info {
        color: #333;
        font-size: 1.4rem;

        .mobile-name {
            font-size: inherit;
            font-weight: 600;
            margin-bottom: 8px;
        }

        .mobile-content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1.3rem;

            .mobile-nav {
                display: flex;
                align-items: center;

                i {
                    margin-right: 8px;
                    font-size: inherit;
                }
            }
            
            .mobile-nav:first-child {
                margin-right: 16px;
            }
        }

    }

    .mobile-chapter {
        display: block;
        font-weight: 600;
        color: var(--text-primary);
        margin-left: 8px;
        align-self: flex-start;

        &:hover {
            color: #785b1a;
        }
    }
}

.mobile-item.backgrdColorIndex {
    background-color: #fafafa
}

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .wrapper{
        font-size: 1.4rem;
        padding: 0;
        margin-bottom: 12px;
        background-color: #fff;

        .list-update {
            border: none;
        }

        &:hover .title-link{
            display: flex!important;
        }

        .content {
            font-size: inherit;
        }
        
        .title {
            padding: 16px 12px 0;
            margin-bottom: 12px;
        }

        .title-link {
            display: flex;
            font-size: inherit;
            align-items: center;
            padding-top: 12px;
            padding-left: 12px;
            padding-bottom: 12px;
            border-top: 1px solid #eee;

            &::after {
                display: block;
                font-size: inherit;
                margin-left: 6px;
                content: "\003E";
            }

        }
    }
}

// Tablet
@media (min-width: 740px ) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }
}

// Mobile
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}