.wrapper{
    top: 24px;
    padding-top: 250px;
    padding-bottom: 24px;
    
}

.container {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    position: relative;
    width: 100%;
    // padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}


