.wrapper{
    position: relative;
    padding-top: 250px;
    padding-bottom: 24px;
    
}

.container {
      width: 100%;
      margin: 0 auto;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
}

.content {
    background-color: #fff;
    padding: 20px;
    position: relative;
    border-radius: 6px;
}

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .wrapper{
        padding-top: 0;
        padding-bottom: 24px;

        .container {
            width: 100%;
            max-width: none;
            padding: 0;
            background-color: #fff;
            margin: 0;

            .content {
                padding: 0;
            }
        }
    }
}

// Tablet
@media (min-width: 740px ) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }
}

// Mobile
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}


