.wrapper {

    .container {
        font-size: 1.5rem;
    }

    .ranking {
        padding: 24px 0;
    }
}

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .ranking {
        padding: 0!important;
    }
    
}

// Tablet
@media (min-width: 740px ) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }
}

// Mobile
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}
