.container {
    padding: 24px 0;

    .content {
        border-radius: 8px;
        margin: auto;
        max-width: 1000px;
        position: relative;
    }
}

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .wrapper{
        padding-top: 0;

        .container {
            width: 100%;
            max-width: 100%;
            padding: 0;
            background-color: #ebecf0;
            margin: 0;

            .content {
                background-color: inherit;
            }
        }
    }
}

// Tablet
@media (min-width: 740px ) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }
}

// Mobile
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}

