.wrapper {
    font-size: 1.4rem;
    color: #333;
    background-color: #fff;
    margin-bottom: 12px;

    .body {
        

        .media-title {
    
            .title {
                font-size: 2rem;
                font-weight: 600;
                padding: 16px 12px 0;
            }
    
        }

        .content {
            padding: 12px 12px 0;

            .item {

                .link {
                    display: block;
                    padding: 4px 0 4px 16px;
                    margin-bottom: 4px;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    position: relative;

                    &::before {
                        content: "";
                        width: 5px;
                        height: 5px;
                        background-color: #666;
                        display: block;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        left: 0;
                    }

                    &:hover {
                        color: var(--text-primary);

                        &::before {
                            background-color: var(--text-primary);
                        }
                    }
                }
            }
        }
    }

    .all {
        display: flex;
        font-size: inherit;
        align-items: center;
        padding-top: 12px;
        padding-left: 12px;
        padding-bottom: 12px;
        border-top: 1px solid #eee;

        &::after {
            display: block;
            font-size: inherit;
            margin-left: 6px;
            content: ">";
        }
    }
}