.media {
    display: flex;
    margin-bottom: 6px;
    
    &.sugges .body {
        align-items: flex-start;
    }
    
    &.reading,
    &.intro
    {
        align-items: center;
        padding: 8px 0;
        margin-bottom: 4px;
    }

    &.listBook {
        padding: 24px 0;
        margin-bottom: 0;
        border-bottom: 1px solid #eee;

        .img-item {
            width: 90px;
        }

        .intimate {
            align-items: flex-start;
            margin-top: 16px;

            .author {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 1.3rem;
                
                .author-inner {
                    text-align: center;
                    font-size: 1.3rem;
                }
                
                .author-inner i {
                    font-size: inherit;
                    width: 20px;
                    margin-right: 8px;
                }
                
                .author-inner:first-child {
                    margin-bottom: 4px;
                }

                .author-inner:last-child {
                    & > i {
                        font-size: 80%;
                    }
                }
            }
        }
    }

    &.new-rating {
        flex-direction: column;
    }

    &.sugges .body {
        display: block;
    }

    &.reading .body-2 {
        display: block;
    }

    &.reading .img-item {
        width: 32px;
        
    }

    &.reading .item-title {
        margin-bottom: 4px;
    }

    &.intro .body-2 {
        display: block;
    }

    &.intro .img-item {
        width: 32px;
        
    }

    &.intro .item-title {
        margin-bottom: 4px;
    }


}

.img-item {
    width: 72px;
    height: 100%;
    position: relative;
    display: inline-block;
    margin-right: 16px;
    overflow: hidden;
    box-shadow: 2px 3px 2px 0 rgba(0,0,0,.15);

    &::before {
        padding-top: 133.333333%;
        content: "";
        display: block;
    }

    & img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    &:hover {
        opacity: .9;
    }
}

.body-2 {
    display: block;
    font-size: 1.5rem;

    & > .item-title {
        margin-bottom: 4px;
    }

    & > span {
        font-size: 1.4rem;
        font-weight: 400;
        color: #6c757d;
    }

    & .intro-genre {
        font-size: 80%;
        display: flex;
        align-items: center;
        
        & i {
            font-size: inherit;
        }
    }
}

.body,.body-2 {
    flex: 1;

    .item-title {
        font-size: inherit;
        margin-bottom: 8px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;

        &:hover > a {
            color: var(--text-primary)
        }
    }

    .item-title > .item-link {
        display: block;
        color: #333;
        font-weight: 600;
        line-height: 1.3;
    }



    & .category.item-link {
        display: -webkit-inline-box;
    }
    
    .description {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        color: #666;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }
    
    .intimate {
        display: flex;
        font-size: 1.4rem;
        align-items: center;
        justify-content: space-between;
        padding: 4px 0;
        margin-top: 8px;
    }
    
    .author {
        display: inline-flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .author .author-inner {
        max-width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #666;
    }
    
    .category {
        color: var(--text-primary);
    
        & > span {
            display: inline-flex;
            font-size: 80%;
            font-weight: 400;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 8px;
            border: 1px solid var(--text-primary);
        }
    }
}

.user-rate {
    display: flex;
    margin-bottom: 8px;
    align-items: center;

    .number, .number-2 {
        border-radius: 16px;
        font-weight: 600;
        line-height: 1.4;
        background-color: #bf2c24;  
        color: #fff;
        padding: 4px 8px;
        margin-right: 16px;
    }

    .number-2 {
        margin-right: 0;
        margin-left: 16px;
    }
    
    .write {
        font-size: 1.4rem;
        color: #088860;
    }
}


.user-container {
    background-color: #f7f5f0;
    padding: 24px;
    padding-top: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    
}

.user-info {
    display: flex;
    align-items: center;
}

.user-avatar {
    margin-right: 8px;

}

.avatar {
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: fill;
}

.newLink {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    font-size: 1.5rem;
    color: #666;
    flex: 1;

    a:first-child {
        font-weight: 600;
        color: #333;
        
        & > span {
            font-weight: 400;
            color: #666;
        }
    }

    a:last-child {
        font-weight: 600;
        color: #bf2c24;
        line-height: 1.5;

        &:hover > span{
            color: #7f1d18;
        }
    }
}

.comment {
    display: block;
    margin-top: 8px;
    padding-top: 4px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    & > span {
        display: block;
        font-size: 1.4rem;
        color: #333;
    }
}

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .media{

        &.listBook {
            padding: 8px 0;
            margin-bottom: 4px;
            border-bottom: 1px solid #eee;
            font-size: 1.4rem;
    
            .img-item {
                width: 72px;
                box-shadow: 3px 4px 3px 0 rgba(0,0,0,.15)!important;
            }
    
            
        }
        
        .body {
            font-size: 1.4rem;

            .item-title {

                a {
                    font-size: inherit;
                }
            }

            .description {
                font-size: inherit;
            }

            .intimate {
                flex-wrap: wrap;

                .category {
                    font-size: inherit;
                }
            }

            .intimate {
                flex-wrap: wrap;
    
                .author {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 1.3rem;
                    
                    .author-inner {
                        margin-bottom: 4px;
                    }
                }
            }

        }
    }
}

// Tablet
@media (min-width: 740px ) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }
}

// Mobile
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}

