.content {
    --nav-color: #fff;
    --nav-text: #212529;
    height: 100%;

    .menu {
        font-size: 1.6rem;
        color: var(--nav-text);
        background-color: var(--nav-color);
        box-shadow: 0 10px 15px 0 rgb(0 0 0 / 9%);
    }
    
    .menu.category-menu {
        width: 500px;
        max-width: 500px;
        padding: 12px 24px;

        &::before, &::after {
            left: 10%;
        }
    }

    .menu.rank-menu {
        width: 160px;
        max-width: 160px;
        padding: 12px 0;

        &::before, &::after {
            left: 40%;
        }
    }

    .menu.notice-menu {

        &::before, &::after {
            display: none;
        }
    }

    .menu.user-menu {
        
        &::before, &::after {
            display: none;
        }
    }

    .menu.bxh-menu {
        width: 160px;
        max-width: 160px;
        padding: 12px 0;
        margin: 8px 0;
        border: 1px solid #eee;
        border-radius: 8px;
    }
}
