.content {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    white-space: pre-line;
}

.check {
    font-size: 1.5rem;

    .btn {
        font-size: inherit;
        font-weight: 600;
        color: #6c757d;
    }
}