@import 'normalize.css';
@import '../responsive/responsive.scss';


:root {
    --header-color: #f5f4f2;
    --text-color: #333;
    --text-primary: #b78a28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    text-rendering: optimizeSpeed;
    // text-rendering: optimizeLegibility !important;
    // -webkit-font-smoothing: antialiased !important;


    .App {
        min-width: 1200px;

        .toast-react-container {
            min-width: 384px;
        }
    }
}

button,
input,
[tapindex] {
    outline: none;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

button, [tapindex] {
    background-color:transparent;
}

a {
    font-family: inherit;
    color: var(--text-color);
    text-decoration: none;
}

// Font emmbeded

@font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2');
  }

  @font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2');
  }

  @font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2');
  }


  @font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2');
  }


  @font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2');
  }


  @font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2');
  }

  @font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/assets/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwkxduz8A.woff2') format('woff2');
  }

  @font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/assets/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2') format('woff2');
  }

  @font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/assets/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmBduz8A.woff2') format('woff2');
  }

  @font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/assets/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRduz8A.woff2') format('woff2'); 
  }


  @font-face {
    font-family: 'nh-icon';
    src: url(../Icons/nh-icon.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Patrick Hand;
    src: url('/assets/fonts/LDI1apSQOAYtSuYWp8ZhfYe8UcLLq7s.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Patrick Hand;
    src: url('/assets/fonts/LDI1apSQOAYtSuYWp8ZhfYe8UMLLq7s.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Patrick Hand;
    src: url('/assets/fonts/LDI1apSQOAYtSuYWp8ZhfYe8XsLL.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Noticia Text;
    src: url('/assets/fonts/VuJ2dNDF2Yv9qppOePKYRP12aDtYh0o.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Noticia Text;
    src: url('/assets/fonts/VuJ2dNDF2Yv9qppOePKYRP12aTtYh0o.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Noticia Text;
    src: url('/assets/fonts/VuJ2dNDF2Yv9qppOePKYRP12ZjtY.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

// ------------------------------------------------------------------------------------------
  
  [class*="icon-"] {
    display: inline-block;
    font-family: nh-icon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  .height-100 {
    height: 100%;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.toast-react-container {
    width: 384px;
    top: 100px;
    right: 20px;
}

// Icon css
  
.nh-icon {
    font-size: 1.3rem;
    
    &.icon-up {
        margin-right: 8px;
    }

    &.icon-user-edit {
        margin-right: 4px;
        font-size: 1.5rem;
    }

    &.icon-up::before {
        content: "\EA24";
    }

    &.icon-search::before {
        content: "\EA0C";
    }

    &.icon-menu::before {
        content: "\EA0A";
    }

    &.icon-user-edit::before {
        content: "\EA0E";
    }

    &.icon-eye-glasses::before {
        content: "\EA42";
    }
    
    &.icon-book::before {
        content: "\EA05";
    }

    &.icon-up::before {
        content: "\EA24";
    }
    
    &.icon-flower::before {
        content: "\EA2E";
    }

    &.icon-prev::before {
        content: "\EA18";
    }

    &.icon-next::before {
        content: "\EA19";
    }

    &.icon-close::before {
        content: "\EA06";
    }

    &.icon-flag::before {
        content: "\EA2D";
    }

    &.icon-star::before {
        content: "\EA1E";
    }

    &.icon-glass::before {
        content: "\EA1D";
    }

    &.icon-save::before {
        content: "\EA1B";
    }

    &.icon-flower.no-content {
        width: 12px;
        height: 14px;
        background-image: url('../Icons/flower.svg');

        &::before {
            content: none;
        }
    }

    &.icon-book::before {
        content: "\EA05";
    }
    
    &.icon-layer::before {
        content: "\EA1F";
    }
    
    &.icon-badge::before {
        content: "\EA45";
    }

    &.icon-sort-asc::before {
        content: "\EA48";
    }

    &.icon-sort-desc::before {
        content: "\EA49";
    }

    &.icon-send::before {
        content: "\EA13";
    }

    &.icon-clock::before {
        content: "\EA34";
    }

    &.icon-like::before {
        content: "\EA09";
    }

    &.icon-like-alt::before {
        content: "\EA46";
    }

    &.icon-reply::before {
        content: "\EA40";
    }

    &.icon-clock::before {
        content: "\EA34";
    }

    &.icon-page::before {
        content: "\EA16";
    }

    &.icon-user::before {
        content: "\EA20";
    }

    &.icon-bell::before {
        content: "\EA10";
    }

    &.icon-setting::before {
        content: "\EA15";
    }

    &.icon-gift::before {
        content: "\EA50";
    }

    &.icon-chat::before {
        content: "\EA11";
    }

    &.icon-check::before {
        content: "\EA51";
    }

    &.icon-trash::before {
        content: "\EA44";
    }

    &.icon-comment::before {
        content: "\EA14";
    }

    &.icon-candy::before {
        content: "\EA0F";
    }

    &.icon-sound-waves::before {
        content: "\EA41";
    }   

    &.icon-next-2::before {
        content: "\EA32";
    } 

    &.icon-prev-2::before {
        content: "\EA31";
    } 

    &.icon-file-edit::before {
        content: "\EA33";
    } 

    &.icon-text::before {
        content: "\EA35";
    } 

    &.icon-heart::before {
        content: "\EA1A";
    } 

    &.icon-alert::before {
        content: "\EA25";
    } 

    &.icon-arrow-left::before {
        content: "\EA3B";
    } 

    &.icon-info::before {
        content: "\EA17";
    } 

    &.icon-comments::before {
        content: "\EA1C";
    } 

    &.icon-color::before {
        content: "\EA26";
    } 

    &.icon-font::before {
        content: "\EA28";
    } 

    &.icon-size::before {
        content: "\EA38";
    } 

    &.icon-width-resize::before {
        content: "\EA37";
    } 

    &.icon-line-height::before {
        content: "\EA29";
    } 

    &.icon-minus::before {
        content: "\EA36";
    } 

    &.icon-plus::before {
        content: "\EA39";
    } 

    &.icon-chart::before {
        content: "\EA23";
    } 

    &.icon-grid::before {
        content: "\EA21";
    } 

    &.icon-caret::before {
        content: "\EA2A";
    } 

    &.icon-upload::before {
        content: "\EA0D";
    } 

    &.icon-filter::before {
        content: "\EA3C";
    }
}

.fs-80 {
    font-size: 80%!important;
}

.fw-6 {
    font-weight: 600;
}

.mr-2 {
    margin-right: 2px;
}

.mr-4 {
    margin-right: 4px;
}

.mr-8 {
    margin-right: 8px;
}

.mt-2 {
    margin-top: 2px;
}

.border-bottom-dashed {
    border-bottom: 1px dashed #eee
}

.align-center {
    align-items: center;
}


// #arrow {
//     top: -16px;
//     border: 8px solid;
//     border-bottom-color: #fff;
//     border-top-color: transparent;
//     border-left-color: transparent;
//     border-right-color: transparent;
// }

// #arrow,
// #arrow::before {
//   position: absolute;
//   width: 12px;
//   height: 12px;
//   background-color: #eee;
// }

// #arrow,
// #arrow::after {
//     position: absolute;
//     width: 12px;
//     height: 12px;
//     background-color: inherit;
//   }

// #arrow {
//   visibility: hidden;
// }

// #arrow::before {
//   visibility: visible;
//   content: '';
//   transform: rotate(45deg);
// }

// #arrow::after {
//     visibility: visible;
//     content: '';
//     transform: rotate(45deg);
// }

// #tooltip[data-placement^='top'] > #arrow {
//     bottom: -6px;
// }
  
// #tooltip[data-placement^='bottom'] > #arrow {
//     top: -6px;
// }
  
// #tooltip[data-placement^='left'] > #arrow {
//     right: -6px;
// }
  
// #tooltip[data-placement^='right'] > #arrow {
//     left: -6px;
// }

#tooltip {
    position: relative;
}

#tooltip[data-placement^='top']::before,
#tooltip[data-placement^='bottom']::before {
    content: "";
    position: absolute;
    right: 16px;
    width: 1px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#tooltip[data-placement^='top']::before {
    border-bottom: 0;
    border-top: 10px solid #eee;
    bottom: -10px;
}

#tooltip[data-placement^='bottom']::before {
    border-top: 0;
    border-bottom: 10px solid #eee;
    top: -10px;
}

#tooltip[data-placement^='top']::after,
#tooltip[data-placement^='bottom']::after {
    content: "";
    position: absolute;
    right: 16px;
    width: 1px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin-right: 2px;
}

#tooltip[data-placement^='top']::after {
    border-bottom: 0;
    border-top: 8px solid #fff;
    bottom: -10px;
    margin-bottom: 2px;
}

#tooltip[data-placement^='bottom']::after {
    border-top: 0;
    border-bottom: 8px solid #fff;  
    top: -10px;
    margin-top: 2px;
}


footer {
    position: relative;
    width: 100%;
    color: #333;
    font-size: 1.5rem;
    padding: 24px 0;
    background: #fff url('./footer-bg.png') no-repeat bottom;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.swiper-slide-prev {
    transition-duration: 0ms;
    z-index: 0;
    opacity: .5;

    & > a {
        pointer-events: none;
    }
}

.swiper-slide-active {
    transition-duration: 0ms;
    z-index: 1;
    pointer-events: all;
    
}

.swiper-slide-next {
    transition-duration: 0ms;
    z-index: 0;
    opacity: .5;

    & > a {
        pointer-events: none;
    }
}


@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    body {
        font-size: 1.4rem;
        background-color: #ebecf0;
        -webkit-tap-highlight-color: transparent;
    }

    .App {
        min-width: auto!important;

        .toast-react-container {
            top: 80px;
            width: 90%!important;
            min-width: 90%!important;
        }
    }
}

// Tablet
@media (min-width: 740px ) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }

    .toast-react-container {
        right: 50%;
        transform: translateX(50%);
    }
}

// Mobile
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .toast-react-container {
        right: 50%;
        transform: translateX(50%);
    }
}

// Mobile - small
@media (max-width: 480px) {
    .hide-on-mobile {
        display: none;
    }

    .toast-react-container {
        left: 50%;
        transform: translateX(-50%)!important;
    }
}
