@import 'normalize.css';
@import '../responsive/responsive.scss';


:root {
    --header-color: #f5f4f2;
    --text-color: #333;
    --text-primary: #b78a28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial, sans-serif;
    text-rendering: optimizeSpeed;
    // text-rendering: optimizeLegibility !important;
    // -webkit-font-smoothing: antialiased !important;


    .App {
        min-width: 1200px;
    }
}

button,
input,
[tapindex] {
    outline: none;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

button, [tapindex] {
    background-color:transparent;
}

a {
    font-family: inherit;
    color: var(--text-color);
    text-decoration: none;
}



// Font emmbeded

@font-face {
    font-family: 6xK3dSBYKcSV;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2');
  }

  @font-face {
    font-family: 6xK3dSBYKcSV;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2');
  }

  @font-face {
    font-family: 6xK3dSBYKcSV;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2');
  }


  @font-face {
    font-family: 6xK3dSBYKcSV;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2');
  }


  @font-face {
    font-family: 6xK3dSBYKcSV;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2');
  }


  @font-face {
    font-family: 6xK3dSBYKcSV;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2');
  }

  @font-face {
    font-family: 6xKydSBYKcSV;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwkxduz8A.woff2') format('woff2');
  }

  @font-face {
    font-family: 6xKydSBYKcSV;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/assets/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2') format('woff2');
  }

  @font-face {
    font-family: 6xKydSBYKcSV;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/assets/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmBduz8A.woff2') format('woff2');
  }

  @font-face {
    font-family: 6xKydSBYKcSV;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRduz8A.woff2') format('woff2'); 
  }


  @font-face {
    font-family: 'nh-icon';
    src: url(../Icons/nh-icon.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }

// ------------------------------------------------------------------------------------------
  
  [class*="icon-"] {
    display: inline-block;
    font-family: nh-icon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  .height-100 {
    height: 100%;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}
  
.nh-icon {
    font-size: 1.3rem;
    
    &.icon-up {
        margin-right: 8px;
    }

    &.icon-user-edit {
        margin-right: 4px;
        font-size: 1.5rem;
    }

    &.icon-up::before {
        content: "\EA24";
    }

    &.icon-menu::before {
        content: "\EA0A";
    }

    &.icon-user-edit::before {
        content: "\EA0E"
    }

    &.icon-eye-glasses::before {
        content: "\EA42"
    }
    
    &.icon-book::before {
        content: "\EA05"
    }

    &.icon-up::before {
        content: "\EA24"
    }
    
    &.icon-flower::before {
        content: "\EA2E"
    }

    &.icon-prev::before {
        content: "\EA18"
    }

    &.icon-next::before {
        content: "\EA19"
    }
}


#arrow {
    top: -16px;
    border: 8px solid;
    border-bottom-color: #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

footer {
    width: 100%;
    color: #333;
    font-size: 1.5rem;
    padding: 24px 0;
    background: #fff url('./footer-bg.png') no-repeat bottom;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.swiper-slide-prev {
    transition-duration: 0ms;
    z-index: 0;
    opacity: .5;

    & > a {
        pointer-events: none;
    }
}

.swiper-slide-active {
    transition-duration: 0ms;
    z-index: 1;
    pointer-events: all;
    
    &:hover {
        opacity: .9;
    }
}

.swiper-slide-next {
    transition-duration: 0ms;
    z-index: 0;
    opacity: .5;

    & > a {
        pointer-events: none;
    }
}
