@import 'normalize.css';
@import '../responsive/responsive.scss';


:root {
    --header-color: #f5f4f2;
    --text-color: #333;
    --text-primary: #b78a28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeSpeed;

    .App {
        min-width: 1200px;
    }
}

button,
input,
[tapindex] {
    outline: none;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

button, [tapindex] {
    background-color:transparent;
}

a {
    font-family: inherit;
    color: var(--text-color);
    text-decoration: none;
}

.height-100 {
    height: 100%;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

// Font emmbeded

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format('woff2');
  }

#arrow {
    top: -18px;
    border: 9px solid;
    border-bottom-color: #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}


