.wrapper {
    color: #333;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .h4 {
            font-size: 2rem;
            font-weight: 600;
            color: inherit;
        }
    }


    .list-media {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .add-media {
        
        .add-button {
            border: 1px solid;
            border-radius: 20px;
            border-color: #666;
            padding: 8px 24px;
            display: block;
            font-weight: 600;
            line-height: 1.6;
            margin: 0 auto;
            font-size: 1.6rem;
            color: #333;

            &:hover {
                background-color: #666;
            }
        }

    }

    .classActive {
        color: #fff;

        .add-button {
            color: inherit;
        }

    }

    .qc {

        .qc-link {
            display: block;
            color: #333;
            background-color: transparent;
        }
    
        .qc-img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    .hr {
        margin: 16px 0;
        border: 0;
        border-top: 1px solid #eee;
    }

    .hr:last-child {
        display: none!important;
    }

    
}

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .wrapper .add-media {
        
        .add-button {
            padding: 4px 24px;
            font-size: 1.4rem;
            margin-bottom: 16px;

            &:hover {
                background-color: inherit;
            }
        }

    }
    
}

// Tablet
@media (min-width: 740px ) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }
}

// Mobile
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}