.wrapper {
    position: relative;
    padding-top: 250px;
    padding-bottom: 24px;

    .container {
        font-size: 1.5rem;
        margin-top: 100px;
        color: #333;

        .err-img {

        }

        .title {
            color: inherit;
            font-size: 2.4rem;
            font-weight: 600;
            margin-bottom: 8px;
        }

        .info {
            font-size: inherit;
            color: inherit;
            margin: 8px;
        }

        .control {
            margin-bottom: 16px;

            .back-home,.reload {
                font-size: inherit;
                font-weight: 600;
                color: var(--text-primary)
            }
    
            .space {
                font-size: inherit;
                margin: 0 8px;
            }
        }


    }
}

// Mobile & tablet
@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .wrapper{
        padding-top: 0;
        padding-bottom: 0;

        .container {
            font-size: 1.4rem;
        }
    }
}

// Tablet
@media (min-width: 740px ) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }
}

// Mobile
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}