.wrapper {
    font-size: 1.5rem;
    color: #333;
    
    .nav {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        justify-content: space-between;
        
        .h4 {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 8px;
        }
        
        .btn {
            padding: 8px 16px;
            line-height: 0;
            font-size: 2rem;
            border-radius: 20px;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out,-moz-box-shadow .15s ease-in-out;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;

            i {
                font-size: inherit;
                color: inherit;
            }

            &:focus {
                outline: 0;
                -webkit-box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
                -moz-box-shadow: 0 0 0 3.2px rgba(183,138,40,.25);
                box-shadow: 0 0 0 3.2px rgb(183 138 40 / 25%);
            }
        }
    }
    
    
    .content {
        font-size: inherit;
        color: inherit;
        margin-bottom: 24px;

        .link {
            display: flex;
            align-items: center;
            padding: 8px 0;
            margin-bottom: 4px;

            &:hover {
                color: var(--text-primary);
            }
        }

        .item {
            flex: 1;
            word-break: break-word;

            .body {
                font-size: inherit;
                color: inherit;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                word-break: break-all;

                .time {
                    color: #6c757d;
                    font-size: 80%;
                }
            }
        }


    }
}

