.wrapper {
    padding: 20px;
    font-size: 1.6rem;
    color: #333;

    .title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2;
    }

    .content {
        margin: 16px 0;
    }
}

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .wrapper{
        background-color: #fff;
    }
}

// Tablet
@media (min-width: 740px ) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }
}

// Mobile
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}